{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Furbo Renderer plugin for Craft CMS 3.x
 *
 * Furbo Renderer Settings.twig
 *
 * @author    Tonio Seiler
 * @copyright Copyright (c) 2019 Tonio Seiler
 * @link      https://furbo.ch/tonio-seiler-dipl-ing-fh-informatik
 * @package   FurboRenderer
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("furbo\\furborenderer\\assetbundles\\furborenderer\\FurboRendererAsset") %}

<h2>Furbo Renderer Settings</h2>

{{ forms.textField({
    label: 'API Key',
    instructions: 'Enter your API Key here.',
    id: 'apiKey',
    name: 'apiKey',
    value: settings['apiKey']})
}}

{{ forms.textField({
    label: 'API Url',
    instructions: 'Enter the furbo renderer url here.',
    id: 'apiUrl',
    name: 'apiUrl',
    value: settings['apiUrl']})
}}
